<!DOCTYPE html>
<html lang="ja" ng-app="shelf">
  <head>
	<meta charset='utf-8'>
	<title>Shelf Management Application.</title>
	
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="css/style.css" rel="stylesheet" media="screen">

  </head>

  <body ng-controller="ShelfController as shelf">
	
	<div class="container">
	  <h1><em>Shelf Management Application</em></h1>
	  <button class="btn btn-small btn-primary" type="button">新規登録</button>
	  <p><b>登録件数: </b> <em>{{shelf.books.length}}</em> <b>件</b></p>
			
	  <table class="table table-striped">
		<tr>
		  <th>type</th>
		  <th>title</th>
		  <th>author</th>
		  <th>price</th>
		  <th>publish</th>
		  <th>year</th>
		  <th>status</th>
		  <th>tags</th>
		  <th>impressions</th>
		</tr>
		<tr ng-repeat="book in shelf.books">
		  <td>{{book.type}}</td>
		  <td>{{book.title}}</td>
		  <td>{{book.author}}</td>
		  <td><em>{{book.price | currency:'&yen;':0}}</em></td>
		  <td>{{book.publish}}</td>
		  <td><em>{{book.year}}</em></td>
		  <td>{{book.status}}</td>
		  <td>
			<span class="label label-info" ng-repeat="tag in book.tags">{{tag}}</span>
		  </td>
		  <td>{{book.impressions | limitTo:25}}</td>
		</tr>
	  </table>
	  
	</div><!-- /container -->
	
	<!-- include libraries -->
	<script src="js/external/angular.min.js"></script>	

	<script src="js/app/app.js"></script>

  </body>
</html>
